* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::after {
  box-sizing: border-box;
}
ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
}
form {
  margin: 0;
}
label {
  margin: 0;
}
body {
  font-size: 400;
  font-family: "Oxygen", sans-serif;
  font-family: "Lora", serif;
  background-color: #ffffff;
  color: var(--text-color);
}
.container {
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  margin: 0px auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
/* header */
.header {
  background-image: url(./static/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* nav */
.nav {
  padding-top: 20px;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}
.nav__logo {
  font-family: Lora;
  font-size: 26px;
}
.nav__list {
  display: flex;
  column-gap: 40px;
}
.nav__item {
  font-family: Oxygen;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
/* hero */
.hero {
  padding-top: 140px;
  padding-bottom: 160px;
  color: #ffffff;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__title {
  font-family: Lora;
  font-size: 50px;
}
.hero__subtitle {
  font-family: Oxygen;
  font-size: 17px;
  padding-top: 15px;
}
.hero__btn {
  background-color: #dd783f;
  padding: 10px 30px;
  margin-top: 30px;
  color: #ffffff;
  border-radius: 3px;
}
/* about */
.about {
  background-color: #ffffff;
  padding: 20px 0;
}
.about__list {
  display: flex;
  justify-content: space-between;
}
.about__item {
  color: #768088;

  font-family: Lora;
  font-size: 14px;
}
/* main */
.main {
  background: #f7f7f7;
}
/* feature */
.feature {
  padding-top: 60px;
}
.feature__line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__title {
  color: #2e2e2e;
  text-align: center;
  font-family: Oxygen;
  font-size: 20px;
  position: relative;
}
.feature__title::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  left: -15px;
  bottom: -10px;

  background: #dedede;
}
.feature__inner {
  padding-top: 40px;
}
.feature__inner {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}
.feature__left,
.feature__right {
  border-radius: 3px;
  background-image: url(./static/post1.png);
  padding: 0 20px 15px 20px;
  color: #fff;
  width: 440px;
}
.feature__right {
  position: relative;
  background-image: url(./static/post2.png);
}
.feature__subtitle {
  font-family: Lora;
  font-size: 27px;
  padding-top: 160px;
}
.feature__advanture {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 5px 10px;
  background-color: #dd783f;
  font-family: Oxygen;
  font-size: 12px;
  text-transform: uppercase;
}
.feature__text {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 5px;
  font-family: Oxygen;
  font-size: 14px;
}
.feature__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  padding-top: 15px;
}
.feature__wrapper-left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.feature__meta {
  width: 80px;
  color: rgba(255, 255, 255, 0.7);

  font-family: Oxygen;
  font-size: 12px;
}
.feature__date {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-family: Oxygen;
  font-size: 12px;
}
@media screen and (max-width: 960px) {
  .feature__inner {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
}
/* footer */
.footer {
  background-image: url(./static/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__title {
  color: #efefef;
  font-family: Oxygen;
  font-size: 25px;
  position: relative;
  padding-top: 80px;
}
.footer__title::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  left: -15px;
  bottom: -10px;

  background: #dedede;
}
.footer__form {
  padding-top: 40px;
  padding-bottom: 90px;
  margin: 0;
}
.footer__label {
  margin: 0;
  display: flex;
}
.footer__input {
  border: none;
  border-radius: 3px 0px 0px 3px;
  background: #fff;
  color: #817f83;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  padding: 20px 210px 20px 35px;
  margin: 0;
}
.footer__button {
  border-radius: 0px 3px 3px 0px;
  background: rgba(255, 255, 255, 0.28);
  color: #f8f8f8;
  font-family: Roboto;
  font-size: 16px;
  padding: 20px 45px;
  margin: 0;
}
.footer__bottom {
  background: rgba(35, 47, 56, 0.6);
  padding: 30px 0;
}
/* recent */
.recent {
  padding-top: 70px;
  padding-bottom: 100px;
}

.recent__top {
  display: flex;
  justify-content: center;
}
.recent__title {
  color: #2e2e2e;

  text-align: center;
  font-family: Oxygen;
  font-size: 20px;
  position: relative;
  margin-bottom: 70px;
}
.recent__title::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  left: -15px;
  bottom: -10px;

  background: #dedede;
}
.recent__grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}
.recent__item {
  background-color: #fcfcfc;
  max-width: 300px;
  width: 100%;
  position: relative;
}
.recent__img {
  width: 100%;
  display: block;
}
.color {
  color: #999;

  font-family: Oxygen;
  font-size: 12px;
  display: block;
}
.recent__wrapper-left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.recent__wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  
}
.padding {
  padding: 15px 10px 10px 10px;
}
.recent__titlesub {
  padding-top: 15px;

  padding-left: 10px;
  color: #101315;

  font-family: Lora;
  font-size: 16px;
  margin-bottom: 60px;
}
.recent__text {
  padding-left: 10px;
  padding-top: 5px;
  color: #7a7a7a;

  font-family: Oxygen;
  font-size: 13px;
  position: absolute;
  top: 184px;
}

.recent__line{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #EFEFEF;
  
}